[Unit]
Description=ACS SNMP Subagent
After=redis-server.service syslog.service snmpd.service

[Service]
Type=simple
WorkingDirectory=/usr/sbin
ExecStart=/usr/sbin/acs-snmp-subagent
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target

