Source: acs-snmp-subagent
Maintainer: Chen Liu <liuchen@microsoft.com>
Section: misc
Priority: required
Standards-Version: 1.0
Build-Depends: debhelper (>=9), dh-systemd, python (>=2.7.9)

Package: acs-snmp-subagent
Architecture: amd64
Depends: ${misc:Depends}, python (>=2.7.9), python-psutil, python-redis, python-sswsdk
Description: ACS SNMP subagent for interface, cpu/memory counter monitoring
